<div class="footer">
  <div class="footer-links">
    <img src="../assets/images/Logo.png" alt="">
    <a href="#"><i class="fas fa-map-marker-alt"></i></a>
    <a href="#"><i class="fas fa-heart"></i></a>
    <a href="#"><i class="fas fa-receipt"></i></a>
    <a href="#"><i class="fas fa-user"></i></a>
  </div>
</div>

