<div class="filterbar">
  <div class="filterbarlinks">
  <a href="#">procurar <i class="fas fa-search"></i></a>
  </div>
    <div class="filterbarlinks">
      <a href="# "> filter <i class="fas fa-filter"></i></a>
    </div>
</div>


