<div class="filterbar">
  <div class="filterbarlinks">
    <a href="#"><i class="fas fa-search"></i> procurar</a>
  </div>
    <div class="filterbarlinks">
      <a href="# "><i class="fas fa-filter"></i> filter</a>
    </div>
</div>



