<%= render 'filterbar' %>

  <div class="card-feed">
  <img src="https://www.esmadrid.com/sites/default/files/styles/content_type_full/public/recursosturisticos/compras/miga_1.jpg?itok=3Atio_Wy" />
  <div class="card-feed-infos">
    <div>
      <h2>Restaurant name</h2>
      <p>Category</p>
      <i class="fas fa-map-marker-alt"> 300m</i>
      <i class="fas fa-clock"> 12-14pm</i> <i class="fas fa-shopping-basket"> 14 left</i>
    </div>
    <div>
      <p class="card-feed-pricing"> R$12-14 </p>
      <p>50% off</p>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjdPXppUyQ5uWExmnpqMsP0QiVkXpiAjCso-6fX7amWwTTHoq2&s" class="card-feed-user avatar-bordered" />
  </div>
</div>


