<div class="card-show">
  <img src="https://www.esmadrid.com/sites/default/files/styles/content_type_full/public/recursosturisticos/compras/miga_1.jpg?itok=3Atio_Wy" />
    <div class="card-show-infos">
      <div>
        <h2>Restaurant name</h2>
        <p>Category</p>
        <i class="fas fa-map-marker-alt"> 300m</i>
        <i class="fas fa-clock"> 12-14pm</i> <i class="fas fa-shopping-basket"> 14 left</i>
      </div>
        <div>
          <p class="card-show-pricing"> R$12-14 </p>
          <p>50% off</p>
        </div>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjdPXppUyQ5uWExmnpqMsP0QiVkXpiAjCso-6fX7amWwTTHoq2&s" class="card-show-user avatar-bordered" />
    </div>
      <div class ="card-show-address">
        <p>Address</p>
        <div class ="card-show-address-infos">
          <p style="padding-top: 3px; margin-left: -59px;">Alameda Campinas, 655 - Jardim Paulista</p>
          <a href="#"><i class="fas fa-map-marker-alt"></i></a>
        </div>
      </div>
        <div class="card-show-shop">
        <p>Sobre o establecimento</p>
          <div class="card-show-shop-infos">
            <i class="far fa-grin-hearts" style="color: #feb21e;"></i>
            <p style="padding-left: 10px;">85% pessoas gostam das compras</p>
          </div>
            <p style="padding-left: 25px; font-weight: normal; font-style: italic; font-size: 11px;">(baseado em 142 pessoas no ultimos 6 meses)</p>
        </div>
</div>
