.card-feed {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-feed > img {
  height: 150px;
  width: 50%;
  object-fit: cover;
}

.card-feed h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-feed p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-feed .card-feed-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.card-feed-infos .card-feed-user {
  position: absolute;
  right: 302px;
  top: -28px;
  width: 40px;
}

.card-feed-infos i {
  color: black;
  opacity: 0.45;
  font-size: 12px;
}

.card-feed-pricing {
  font-weight: bold;
  font-size: 16px;
  color: balck;
  align-items: flex-end;
}

.promotion {
  color: orange;
}
